<h1> Your Tasks</h1>

<ul>
<% @tasks.each do | task | %>
  <% if task.completed %>
  <li><i class="far fa-check-square"></i> </i><%= link_to task.title, task_path(task) %></li>
  <% else%>
  <li><i class="far fa-square"></i> <%= link_to task.title, task_path(task) %></li>
<% end %>
<% end %>
</ul>
<div class="container">
<p class="btn btn-primary"><%= link_to "Add a task", new_task_path class="" %></p>
